@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item{
    color: darkblue;
    cursor: pointer;
}
.fimg{
    height: 60px;
}
a{
    text-decoration: none;
    color: inherit;
}
